RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /ngii/def-hr-testbed-sensordata-2026-20260921/ [R=302,L]
RewriteRule ^(.+)$       /ngii/def-hr-testbed-sensordata-2026-20260921/$1 [R=302,L]
Options -Indexes
