RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /bro/vv-st-sld-20260729/ [R=302,L]
RewriteRule ^(.+)$       /bro/vv-st-sld-20260729/$1 [R=302,L]
Options -Indexes
