RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /bro/cv-st-sld-20260819/ [R=302,L]
RewriteRule ^(.+)$       /bro/cv-st-sld-20260819/$1 [R=302,L]
Options -Indexes
