RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /bro/cv-st-bhr-gt-20260422/ [R=302,L]
RewriteRule ^(.+)$       /bro/cv-st-bhr-gt-20260422/$1 [R=302,L]
Options -Indexes
