RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /bro/vv-st-bhr-g-20251002/ [R=302,L]
RewriteRule ^(.+)$       /bro/vv-st-bhr-g-20251002/$1 [R=302,L]
Options -Indexes
