RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /3dbv/basis-hr-nl-respec-template-20260209/ [R=302,L]
RewriteRule ^(.+)$       /3dbv/basis-hr-nl-respec-template-20260209/$1 [R=302,L]
Options -Indexes
