body {
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    color: #5e5e5e;
    font-size: .875rem;
    line-height: 1.5;
}

.page {
    max-width: 88rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Open Sans", sans-serif;
}

h1 {
    margin: 1em 0 2em;
    font-size: 1.25rem;
    line-height: 4em;
    border-bottom: 1px solid rgba(94,94,94,.2);
    font-weight: 500;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
    /*background-color: #f7f7f7;*/
    padding-left: 0.5em;
    border-bottom: 4px solid rgb(141, 182, 63);
    line-height: 4rem;
    width: 34rem;
}

h3 {
    margin-left: 1.8em;
    font-weight: 500;
}

a {
    color: #005a9c;
}

h2 > a {
    text-decoration: none;
    color: rgb(94,94,94);
}

span.final, span.final a {
    font-weight: normal;
    color: #005a9c;
}

span.def, span.def a {
    color: #005a9c;
    /*font-size: 0.85em;*/
}

span.cv, span.cv a {
    color: orange;
    /*font-size: 0.85em;*/
}

span.vv, span.vv a {
    color: green;
    /*font-size: 0.85em;*/
}

.warning {
    background-color: #ffbb66;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
}

div.pubDomain {
    width: 44rem;
    display: inline-grid;
}

span.pubDomainAbbr{
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

ul.docs {
    border-bottom: 1px solid rgba(94, 94, 94, 0.2);
    width: 36rem;
    padding-bottom: 2rem;
}