RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /geo-standaarden/vv-bd-gsw-20260521/ [R=302,L]
RewriteRule ^(.+)$       /geo-standaarden/vv-bd-gsw-20260521/$1 [R=302,L]
Options -Indexes
