RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /geo-standaarden/def-bd-gsw-20260626/ [R=302,L]
RewriteRule ^(.+)$       /geo-standaarden/def-bd-gsw-20260626/$1 [R=302,L]
Options -Indexes
