RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /imev/def-bd-imev-wijzigingsprotocol-20260330/ [R=302,L]
RewriteRule ^(.+)$       /imev/def-bd-imev-wijzigingsprotocol-20260330/$1 [R=302,L]
Options -Indexes
