RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /eu/ld-hr-handreiking-hvd-20260326/ [R=302,L]
RewriteRule ^(.+)$       /eu/ld-hr-handreiking-hvd-20260326/$1 [R=302,L]
Options -Indexes
