RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /bro/def-im-sad-20240925/ [R=302,L]
RewriteRule ^(.+)$       /bro/def-im-sad-20240925/$1 [R=302,L]
Options -Indexes
