RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /ibro/def-im-ibro-lm-20260211/ [R=302,L]
RewriteRule ^(.+)$       /ibro/def-im-ibro-lm-20260211/$1 [R=302,L]
Options -Indexes
