RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /3dbv/basis-hr-test-respec-flow-20251013/ [R=302,L]
RewriteRule ^(.+)$       /3dbv/basis-hr-test-respec-flow-20251013/$1 [R=302,L]
Options -Indexes
