RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /kbi/cv-hr-woz-advies-20260902/ [R=302,L]
RewriteRule ^(.+)$       /kbi/cv-hr-woz-advies-20260902/$1 [R=302,L]
Options -Indexes
