RewriteEngine On
RewriteRule ^basis-wpgs-20170531(.*)$ /wp/basis-hr-wpgs-20170531/$1 [R=301,NC,L]
RewriteRule ^basis-wpgs-20171222(.*)$ /wp/basis-hr-wpgs-20171222/$1 [R=301,NC,L]
RewriteRule ^basis-wpgs(.*)$ /wp/wpgs/$1 [R=301,NC,L]
# Redirect 301 /basis-hr-wpgs-20170531/
