RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /vth/def-im-cim-vth-flo-20260724/ [R=302,L]
RewriteRule ^(.+)$       /vth/def-im-cim-vth-flo-20260724/$1 [R=302,L]
Options -Indexes
