RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /vth/vv-im-cim-vth-flo-20260717/ [R=302,L]
RewriteRule ^(.+)$       /vth/vv-im-cim-vth-flo-20260717/$1 [R=302,L]
Options -Indexes
