RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /api/ld-hr-ogc-api-features-guideline-20260415/ [R=302,L]
RewriteRule ^(.+)$       /api/ld-hr-ogc-api-features-guideline-20260415/$1 [R=302,L]
Options -Indexes
