RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /imev/def-bd-beheerplan-20261005/ [R=302,L]
RewriteRule ^(.+)$       /imev/def-bd-beheerplan-20261005/$1 [R=302,L]
Options -Indexes
