<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Geonovum specificaties</title>
    <link rel='shortcut icon' type='image/x-icon' href='https://tools.geostandaarden.nl/respec/style/logos/Geonovum.ico' />
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div class="page">
      <img class="block-sitebranding__logo" src="https://www.geonovum.nl/logo.svg" alt="Home">
      <h1>Standaarden en technische documenten</h1>
      <p>Op <a href="https://docs.geostandaarden.nl/">https://docs.geostandaarden.nl/</a> publiceert Geonovum standaarden en technische documenten.</p>
      <p class="warning">Deze pagina is slechts een inhoudsopgave van documentatie die wij beheren. Ga naar de <a href="https://www.geonovum.nl">website van Geonovum</a> voor toelichting op de documentatie.</p>
      <p>Onderstaande documenten zijn op dit moment beschikbaar:</p>
      {{CONTENT}}
    </div>
  </body>
</html>
