RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /serv/def-pr-vt-20251013/ [R=302,L]
RewriteRule ^(.+)$       /serv/def-pr-vt-20251013/$1 [R=302,L]
Options -Indexes
