RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /ldv/def-hr-transparantieapp-arch-20260914/ [R=302,L]
RewriteRule ^(.+)$       /ldv/def-hr-transparantieapp-arch-20260914/$1 [R=302,L]
Options -Indexes
