RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /rwgs/vv-hr-rw-20260401/ [R=302,L]
RewriteRule ^(.+)$       /rwgs/vv-hr-rw-20260401/$1 [R=302,L]
Options -Indexes
