RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /rwgs/def-hr-rw-20260923/ [R=302,L]
RewriteRule ^(.+)$       /rwgs/def-hr-rw-20260923/$1 [R=302,L]
Options -Indexes
