img {
  max-width: 100%;
}

table, td, th {
  cell-padding: 0px;
  cell-spacing: 0px;
  border-color: #eee;
  text-align: left;
}

thead {
   border-color: #eee;
  background-color: #ccc;
}

body {
	background-color: #fff !important;
	font-family: 'Raleway', sans-serif !important;	
}

nav {
	background-color: #4ba829 !important;
	color: #fff !important;
	font-family: 'Raleway', sans-serif !important;	
}


.tocline, .tocxref .secno, .toc a {
color: #fff !important;	
}

h1, h2, h3 {
	color: #000 !important;
	
}
