RewriteEngine On
# Redirect map-root en onderliggende paden naar de nieuwste versie-map
RewriteRule ^$           /imev/cv-im-imev-20260817/ [R=302,L]
RewriteRule ^(.+)$       /imev/cv-im-imev-20260817/$1 [R=302,L]
Options -Indexes
